.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  height: 70px;
}

.nav-profile {
  height: 50px;     /* 🔽 reduce height */
  width: 50px;      /* 🔽 reduce width */
  border-radius: 50%;
  object-fit: cover;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}
